In [1]:
import pandas as pd

In [2]:
d=pd.read_csv("C:\\Users\\Saimanasa\\Desktop\\Data.csv")
data=pd.DataFrame(d)
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Saimanasa\\Desktop\\Data.csv'

In [ ]:
print(data.head(10))

                              Region                Country        Item Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub-Saharan Africa                 Rwanda  Office Supplies
5              Australia and Oceania        Solomon Islands        Baby Food
6                 Sub-Saharan Africa                 Angola        Household
7                 Sub-Saharan Africa           Burkina Faso       Vegetables
8                 Sub-Saharan Africa  Republic of the Congo    Personal Care
9                 Sub-Saharan Africa                Senegal           Cereal

  Sales Channel Order Priority  Order Date   Order ID   Ship Date  Units Sold  \
0       Offline              H   5/28/2010  669165933   6/27/2010        9925
1        Online              C   8/22/2012  963881480   9/15/2012        2804
2       Offline              L  05-02-2014  341417157  05-08-2014        1779
3        Online              C   6/20/2014  514321792  07-05-2014        8102
4       Offline              L  02-01-2013  115456712  02-06-2013        5062
5        Online              C  02-04-2015  547995746   2/21/2015        2974
6       Offline              M   4/23/2011  135425221   4/27/2011        4187
7        Online              H   7/17/2012  871543967   7/27/2012        8082
8       Offline              M   7/14/2015  770463311   8/25/2015        6070
9        Online              H   4/18/2014  616607081   5/30/2014        6593

   Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0      255.28     159.42     2533654.00  1582243.50     951410.50
1      205.70     117.11      576782.80   328376.44     248406.36
2      651.21     524.96     1158502.59   933903.84     224598.75
3        9.33       6.92       75591.66    56065.84      19525.82
4      651.21     524.96     3296425.02  2657347.52     639077.50
5      255.28     159.42      759202.72   474115.08     285087.64
6      668.27     502.54     2798046.49  2104134.98     693911.51
7      154.06      90.93     1245112.92   734896.26     510216.66
8       81.73      56.67      496101.10   343986.90     152114.20
9      205.70     117.11     1356180.10   772106.23     584073.87

In [ ]:
data.info()
## From the info() function we can find = there are 14 columns-"Names given below"- there are no null values in any of the columns also there are 100 values in total dataset
## The columns are of types - int,float and object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB

In [ ]:
data.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+02,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
mean,5.550204e+08,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,2.606153e+08,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,1.146066e+08,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,3.389225e+08,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,5.577086e+08,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,7.907551e+08,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,9.940222e+08,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

In [ ]:
data.isnull().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [ ]:
d1=data.groupby(['Region','Country','Item Type'])
d1.first()

                                              Sales Channel Order Priority  \
Region             Country    Item Type
Asia               Bangladesh Clothes                Online              L
                   Brunei     Office Supplies        Online              L
                   Kyrgyzstan Vegetables             Online              H
                   Laos       Vegetables            Offline              C
                   Malaysia   Fruits                Offline              L
...                                                     ...            ...
Sub-Saharan Africa The Gambia Baby Food             Offline              M
                              Cereal                Offline              H
                              Household             Offline              L
                              Meat                   Online              M
                   Zambia     Snacks                 Online              L

                                               Order Date   Order ID  \
Region             Country    Item Type
Asia               Bangladesh Clothes           1/13/2017  187310731
                   Brunei     Office Supplies  04-01-2012  320009267
                   Kyrgyzstan Vegetables        6/24/2011  814711606
                   Laos       Vegetables        9/15/2011  789176547
                   Malaysia   Fruits           11-11-2011  810711038
...                                                   ...        ...
Sub-Saharan Africa The Gambia Baby Food        02-03-2014  494747245
                              Cereal           06-07-2012  994022214
                              Household         5/26/2012  886494815
                              Meat              1/14/2017  825304400
                   Zambia     Snacks           01-04-2011  122583663

                                                Ship Date  Units Sold  \
Region             Country    Item Type
Asia               Bangladesh Clothes          03-01-2017        8263
                   Brunei     Office Supplies  05-08-2012        6708
                   Kyrgyzstan Vegetables       07-12-2011         124
                   Laos       Vegetables       10/23/2011        3732
                   Malaysia   Fruits           12/28/2011        6267
...                                                   ...         ...
Sub-Saharan Africa The Gambia Baby Food         3/20/2014        5559
                              Cereal           06-08-2012        2117
                              Household        06-09-2012        2370
                              Meat              1/23/2017        4767
                   Zambia     Snacks           01-05-2011        4085

                                               Unit Price  Unit Cost  \
Region             Country    Item Type
Asia               Bangladesh Clothes              109.28      35.84
                   Brunei     Office Supplies      651.21     524.96
                   Kyrgyzstan Vegetables           154.06      90.93
                   Laos       Vegetables           154.06      90.93
                   Malaysia   Fruits                 9.33       6.92
...                                                   ...        ...
Sub-Saharan Africa The Gambia Baby Food            255.28     159.42
                              Cereal               205.70     117.11
                              Household            668.27     502.54
                              Meat                 421.89     364.69
                   Zambia     Snacks               152.58      97.44

                                               Total Revenue  Total Cost  \
Region             Country    Item Type
Asia               Bangladesh Clothes              902980.64   296145.92
                   Brunei     Office Supplies     4368316.68  3521431.68
                   Kyrgyzstan Vegetables            19103.44    11275.32
                   Laos       Vegetables           574951.92   339350.76
                   Malaysia   Fruits                58471.11    43367.64
...                                                      ...         ...
Sub-Saharan Africa The Gambia Baby Food           1419101.52   886215.78
                              Cereal               435466.90   247921.87
                              Household           1583799.90  1191019.80
                              Meat                2011149.63  1738477.23
                   Zambia     Snacks               623289.30   398042.40

                                               Total Profit
Region             Country    Item Type
Asia               Bangladesh Clothes             606834.72
                   Brunei     Office Supplies     846885.00
                   Kyrgyzstan Vegetables            7828.12
                   Laos       Vegetables          235601.16
                   Malaysia   Fruits               15103.47
...                                                     ...
Sub-Saharan Africa The Gambia Baby Food           532885.74
                              Cereal              187545.03
                              Household           392780.10
                              Meat                272672.40
                   Zambia     Snacks              225246.90

[97 rows x 11 columns]

In [ ]:
## Forming different datasets based on the trends
f1=data[["Order ID","Order Date","Order Priority","Ship Date"]]
print(f1)

     Order ID  Order Date Order Priority   Ship Date
0   669165933   5/28/2010              H   6/27/2010
1   963881480   8/22/2012              C   9/15/2012
2   341417157  05-02-2014              L  05-08-2014
3   514321792   6/20/2014              C  07-05-2014
4   115456712  02-01-2013              L  02-06-2013
..        ...         ...            ...         ...
95  512878119   7/26/2011              M  09-03-2011
96  810711038  11-11-2011              L  12/28/2011
97  728815257  06-01-2016              C   6/29/2016
98  559427106   7/30/2015              M  08-08-2015
99  665095412  02-10-2012              L   2/15/2012

[100 rows x 4 columns]

In [ ]:
f2=data[["Units Sold","Unit Price","Unit Cost","Total Cost","Total Revenue"]]
print(f2)

    Units Sold  Unit Price  Unit Cost  Total Cost  Total Revenue
0         9925      255.28     159.42  1582243.50     2533654.00
1         2804      205.70     117.11   328376.44      576782.80
2         1779      651.21     524.96   933903.84     1158502.59
3         8102        9.33       6.92    56065.84       75591.66
4         5062      651.21     524.96  2657347.52     3296425.02
..         ...         ...        ...         ...            ...
95         888      109.28      35.84    31825.92       97040.64
96        6267        9.33       6.92    43367.64       58471.11
97        1485      154.06      90.93   135031.05      228779.10
98        5767       81.73      56.67   326815.89      471336.91
99        5367      668.27     502.54  2697132.18     3586605.09

[100 rows x 5 columns]

In [ ]:
f3=data[["Total Revenue","Total Cost","Total Profit"]]
print(f3)

    Total Revenue  Total Cost  Total Profit
0      2533654.00  1582243.50     951410.50
1       576782.80   328376.44     248406.36
2      1158502.59   933903.84     224598.75
3        75591.66    56065.84      19525.82
4      3296425.02  2657347.52     639077.50
..            ...         ...           ...
95       97040.64    31825.92      65214.72
96       58471.11    43367.64      15103.47
97      228779.10   135031.05      93748.05
98      471336.91   326815.89     144521.02
99     3586605.09  2697132.18     889472.91

[100 rows x 3 columns]

In [ ]:
import matplotlib.pyplot as p